body {
    background-color: rgba(0, 128, 0, 0.034);
    font-family: 'Josefin Sans', sans-serif;
}
h2 {
    color: green;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    margin: 10px 0 30px 0;
}
#container {
    background-color: rgba(0, 128, 0, 0.247);
    width: 400px;
    margin: 50px auto;
    padding: 20px 20px 1px 20px ;    
}
#divhozzaad {
    display: flex;
    justify-content: center;
}
#ujtennivalo {
    width: 320px;
    height: 30px;
    border: gray 2px solid;
}
#gombhozzaad {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 128, 0, 0.527) ;
    color: white;
    border: gray 2px solid;
    box-sizing: content-box;    
}
#tennivalolista{
    padding: 0 20px;
}
#tennivalolista li{
    display: flex;
    justify-content: space-between;
    
}
#tennivalolista img {
    width: 20px;
}
